{% extends 'base.html.twig' %}

{% block title %}Изменить email{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <h1>Изменить email</h1>
            </div>
            <div class="col-md-12 mb-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
