.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    -ms-flex-line-pack: start;
    align-content: start;
}
