{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <h1>Регистрация</h1>
            </div>
            <div class="col-md-12 mb-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Отправить</button>
                {{ form_end(form) }}
            </div>
            <div class="col-md-12">
                <h4 class="mb-3">Через социальные сети</h4>
                <a href="#" class="btn btn-primary">Facebook</a>
            </div>
        </div>
    </div>
{% endblock %}
