{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Блоги обо всём</h1>
            <p class="lead text-muted">Здесь вы можете завести свой блог и писать о чём угодно!</p>
            <p>
                {% if not app.user %}
                    <a href="{{ path('auth.signup') }}" class="btn btn-primary my-2">Зарегистрироваться</a>
                    <a href="{{ path('app_login') }}" class="btn btn-secondary my-2">Войти</a>
                {% endif %}
            </p>
        </div>
    </section>
{% endblock %}
