<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="page-body">

{% include 'app/_common/_header.html.twig' %}

<main role="main">
    {% block body %}{% endblock %}
</main>

{% include 'app/_common/_footer.html.twig' %}

{% block javascripts %}{% endblock %}
</body>
</html>
